body{font-family: 'Roboto Mono', monospace;
margin:0;}

.link{width: 100vw;
height: 10vh;
background-color: #CDDBE2;
position: fixed;
margin: 0;
z-index: 11111;}

.link:hover{width: 100vw;
height: 10vh;
background-color: white;
margin: 0;}

.link1{	z-index: 11111;
	color: #ffffff;
	font-size: 20px;
	position: fixed;
	top: 0.5vh;
	text-decoration: none;
	font-family: 'Roboto Mono', monospace;
}
.link2{	z-index: 11111;
	color: #ffffff;
	font-size: 20px;
	position: fixed;
	right: 2vw;
	top: 0.5vh;
	text-decoration: none;
	font-family: 'Roboto Mono', monospace;
}


.pagename{
	color: #ffffff;
	font-size: 20px;
	left:47.5vw;
	z-index: 11111;
	position: fixed;
	top: -2vh;
	width: 5vw;
}

.intro{
	color: #ffffff;
	font-size: 15px;
	left:46vw;
	z-index: 11111;
	position: fixed;
	top: 5vh;
	width: 10vw;
}

img{
width: 30vw;
height: 40vh;}

.img{position: relative;
left: 35vw;
}
.img1{
margin-top: 20vh;}

.cover{width: 30vw;
height: 40vh;
background-color: white;
z-index: 111;
margin-top: 10vh;
opacity: 0;
left: 35vw;
position: absolute;
}

.cover1{top:10vh;}
.cover2{top:65vh;}

.cover:hover{opacity: 0.6;}


.title1{top:62vh;
position: absolute;}
.title2{top:120vh;
position: absolute;}

.title{width: 30vw;
	margin-left:35vw;
	color: black;
	font-size: 15px;
	text-decoration-line: none;
	font-family: 'Roboto Mono', monospace;
	margin-bottom: 100px;
	text-align: center;
}


.detail1{top:35vh;
position: absolute;
width: 30vw;
display: none;}
.detail2{top:87vh;
position: absolute;
width: 30vw;
display: none;}


.detail{
	margin-left:52vw;
	color: black;
	font-size: 15px;
	text-decoration-line: none;
	font-family: 'Roboto Mono', monospace;
	margin-bottom: 100px;
	text-align: left;
}


nav {
    width:40vw;
    top: 117vh;
    left: 47vw;
    position: absolute;

}

#container {
    width:30vw;
    height:40vh;
    margin: 15vh 0 0 0;
    overflow-x:scroll;
    position: relative;
    left: 35vw;

}
nav button{ display:inline-block }

#slides {
    display:inline-block;
     position:relative;
    width:30vw;
    height:40vh;
    padding: 0;
}

#slides li{
    margin:0;
    padding:0;
}


