.pagename{
	font-family: 'Roboto Mono', monospace;
	font-size: 50pt;
	color:grey;
text-align: center;
	margin-top:25vh;
	color: #CDDBE2;
	z-index: 3;
}
.intro{
	font-family: 'Roboto Mono', monospace;
	font-size: 15pt;
	color:grey;
	text-align: center;
	margin-top:2vh;
	color: #CDDBE2;
	z-index: 3;
	display: none;
}

.back{
	z-index: -1;
	width: 25.5vw;
	height: 30vh;
	position: fixed;
	bottom:-70vh;
}

.back1{
	left:0vw;
	animation: mymove 5s forwards;
	background:url("../img/1-1@3x.png");
	background-size: cover;
	}
.back2{
	left:24.6vw;
	z-index: -1;
	height: 30vh;
	animation: mymove 5s forwards;
	animation-delay: 1s;
	background:url("../img/2-1@3x.png");
	background-size: cover;
	}
.back3{
	left:49vw;	
	z-index: -2;
	animation: mymove 5s forwards;
	animation-delay: 2s;
	background:url("../img/3-1@3x.png");
	background-size: cover;
}
.back4{
	z-index: -3;
	animation: mymove 5s forwards;	
	animation-delay: 3s;
	left:74vw;
	background:url("../img/4-1@3x.png");
	background-size: cover;
}

.project{
	z-index: 1;
	width: 25.5vw;
	height: 70vh;
	position: fixed;
	bottom: 0;
}

.draw{left:0vw;top:70vh}
.install{left:24.6vw;top:70vh}
.art{left:49vw;top:70vh}
.about{left:74vw;top:70vh}

.draw:hover{
	cursor: pointer;
	background: url("../img/1-1@3x.png");
	background-size: cover;

}
.install:hover{
	cursor: pointer;
	background: url("../img/2-1@3x.png");
	background-size: cover;

}
.art:hover{
	cursor: pointer;
	background: url("../img/3-1@3x.png");
	background-size: cover;
}
.about:hover{
	cursor: pointer;
	background: url("../img/4-1@3x.png");
	background-size: cover;
}

.text{
	color: white;
	font-family: 'Roboto Mono', monospace;
	font-size: 30px;
	transform-origin: top left;
	position: relative;
	top: 10vh;
	text-align: center;
}

.background{
	background-color: #CDDBE2;
	width: 100vw;
	height: 20vh;
	position: absolute;
	bottom: 0;
	display: none;
}



@keyframes mymove {
  from {top:100vh;}
  to {top:70vh;}
}

