.pagename{
	font-family: 'FZQingKeBenYueSongS-R-GB', serif;
	font-size: 70pt;
	color:grey;
	position: absolute;
	left:40px;
	bottom: 60px;
	color: white;
	z-index: 3;
}

.back{
	z-index: -1;
	width: 23.6vw;
	height: 70vh;
	position: fixed;
	bottom:-70vh;
}

.back1{
	left:3.9vw;
	animation: mymove 5s forwards;
	background:url("../img/1-1@3x.png");
	background-size: cover;
	}
.back2{
	left:27.05vw;
	z-index: -1;
	animation: mymove 5s forwards;
	animation-delay: 1s;
	background:url("../img/2-1@3x.png");
	background-size: cover;
	}
.back3{
	left:50.00vw;	
	z-index: -2;
	animation: mymove 5s forwards;
	animation-delay: 2s;
	background:url("../img/3-1@3x.png");
	background-size: cover;
}
.back4{
	z-index: -3;
	animation: mymove 5s forwards;	
	animation-delay: 3s;
	left:73vw;
	background:url("../img/4-1@3x.png");
	background-size: cover;
}

.project{
	z-index: 1;
	width: 23.6vw;
	height: 70vh;
	position: fixed;
	bottom: 0;
}

.draw{left:3.9vw;}
.install{left:27.05vw;}
.art{left:50.00vw;}
.about{left:73vw;}

.draw:hover{
	cursor: pointer;
	background: url("../img/1-1@3x.png");
	background-size: cover;

}
.install:hover{
	cursor: pointer;
	background: url("../img/2-1@3x.png");
	background-size: cover;

}
.art:hover{
	cursor: pointer;
	background: url("../img/3-1@3x.png");
	background-size: cover;
}
.about:hover{
	cursor: pointer;
	background: url("../img/4-1@3x.png");
	background-size: cover;
}

.text{
	color: white;
	font-family: 'Crimson Text', serif;
	font-size: 30px;
	transform:rotate(90deg);
	transform-origin: top left;
	position: relative;
	left: 220px;
	top: 90px;
}

.background{
	background-color: #CDDBE2;
	width: 80vw;
	height: 60vh;
	position: absolute;
	bottom: 0;
	left: 5vw;
	display: none;
}

@keyframes mymove {
  from {top:100vh;}
  to {top:30vh;}
}

