.pagename{
	font-family: 'FZQingKeBenYueSongS-R-GB', serif;
	font-size: 70pt;
	color:grey;
	position: absolute;
	left:40px;
	bottom: 60px;
	color: white;
	z-index: 3;
}

.back{
	z-index: -1;
	width: 23.6vw;
	height: 70vh;
	position: fixed;
	bottom:-70vh;
}

.back1{
	left:3.9vw;
	animation: mymove 5s forwards;
	background:url("../img/1.png");
	background-size: cover;
	}
.back2{
	left:27.4vw;
	animation: mymove 5s forwards;
	animation-delay: 1s;
	background:url("../img/2.png");
	background-size: cover;
	}
.back3{
	left:50.8vw;	
	animation: mymove 5s forwards;
	animation-delay: 2s;
	background:url("../img/3.png");
	background-size: cover;
}
.back4{
	animation: mymove 5s forwards;	
	animation-delay: 3s;
	left:74vw;
	background:url("../img/4.png");
	background-size: cover;
}

.animate1{animation: wave 7s alternate infinite linear;}
.animate2{animation: wave 7s alternate infinite linear;}
.animate3{animation: wave 7s alternate infinite linear;}
.animate4{animation: wave 7s alternate infinite linear;}

.project{
	z-index: 1;
	width: 23.6vw;
	height: 70vh;
	position: fixed;
	bottom: 0;
}

.draw{left:3.9vw;}
.install{left:27.4vw;}
.art{left:50.8vw;}
.about{left:74vw;}

.draw:hover{
	cursor: pointer;
	background: url("../img/1.png");
	background-size: cover;
}
.install:hover{
	cursor: pointer;
	background: url("../img/2.png");
	background-size: cover;
}
.art:hover{
	cursor: pointer;
	background: url("../img/3.png");
	background-size: cover;
}
.about:hover{
	cursor: pointer;
	background: url("../img/4.png");
	background-size: cover;
}

.text{
	color: white;
	font-family: 'Crimson Text', serif;
	font-size: 30px;
	transform:rotate(90deg);
	transform-origin: top left;
	position: relative;
	left: 220px;
	top: 70px;
}

@keyframes mymove {
  from {top:100vh;}
  to {top:30vh;}
}

@keyframes wave {
  0%{bottom: 0vh;}
  10%{bottom:-1vh;}
  20%{bottom:-2vh;}
  30%{bottom:-3vh;}
  40%{bottom:-4vh;}
  50%{bottom:-2vh;}
  60%{bottom:-1vh;}
  70%{bottom:0vh;}
  80%{bottom:-1vh;}
  90%{bottom:-2vh;}
  100%{bottom:-1vh;}
}





