body{font-family: 'Roboto Mono', monospace;
margin:0;}

.link{width: 100vw;
height: 10vh;
background-color: #CDDBE2;
position: fixed;
margin: 0;
z-index: 11111;}

.link:hover{width: 100vw;
height: 10vh;
background-color: white;
margin: 0;}

.link1{	z-index: 11111;
	color: #ffffff;
	font-size: 20px;
	position: fixed;
	top: 0.5vh;
	text-decoration: none;
	font-family: 'Roboto Mono', monospace;
}
.link2{	z-index: 11111;
	color: #ffffff;
	font-size: 20px;
	position: fixed;
	right: 2vw;
	top: 0.5vh;
	text-decoration: none;
	font-family: 'Roboto Mono', monospace;
}

.pagename{
	color: #ffffff;
	font-size: 20px;
	left:47.5vw;
	z-index: 11111;
	position: fixed;
	top: 0.5vh;
	width: 5vw;
}

.img{position: relative;
left: 35vw;
color: blue;}
.img1{width: 30vw;
height: 50vh;
margin-top: 20vh;}
.img2{width: 30vw;
height: 50vh;
margin-top: 10vh;}
.img3{width: 30vw;
height: 50vh;
margin-top: 10vh;}
.img4{width: 30vw;
height: 50vh;
margin-top: 10vh;}
.img5{width: 30vw;
height: 50vh;
margin-top: 10vh;}
.img6{width: 30vw;
height: 50vh;
margin-top: 10vh;}
.img7{width: 30vw;
height: 50vh;
margin-top: 10vh;}
.img8{width: 30vw;
height: 50vh;
margin-top: 10vh;}

.cover{width: 30vw;
height: 50vh;
background-color: white;
z-index: 111;
margin-top: 10vh;
opacity: 0;
left: 35vw;
position: absolute;
}

.cover1{top:10vh;}
.cover2{top:70.5vh;}
.cover3{top:131vh;}
.cover4{top:191.5vh;}
.cover5{top:251.5vh;}
.cover6{top:312.5vh;}
.cover7{top:372.5vh;}
.cover8{top:433.5vh;}


.cover:hover{opacity: 0.6;}


.title1{top:70vh;
position: absolute;}
.title2{top:131vh;
position: absolute;}
.title3{top:192vh;
position: absolute;}
.title4{top:252vh;
position: absolute;}
.title5{top:312vh;
position: absolute;}
.title6{top:373vh;
position: absolute;}
.title7{top:434vh;
position: absolute;}
.title8{top:494vh;
position: absolute;}

.title{width: 30vw;
	margin-left:35vw;
	color: black;
	font-size: 15px;
	text-decoration-line: none;
	font-family: 'Roboto Mono', monospace;
	margin-bottom: 100px;
	text-align: center;
}


.detail1{top:38vh;
position: absolute;
width: 30vw;
display: none;}
.detail2{top:100vh;
position: absolute;
width: 30vw;
display: none;}
.detail3{top:160vh;
position: absolute;
width: 30vw;
display: none;}
.detail4{top:220vh;
position: absolute;
width: 30vw;
display: none;}
.detail5{top:280vh;
position: absolute;
width: 30vw;
display: none;}
.detail6{top:335vh;
position: absolute;
width: 30vw;
display: none;}
.detail7{top:395vh;
position: absolute;
width: 30vw;
display: none;}
.detail8{top:455vh;
position: absolute;
width: 30vw;
display: none;}

.detail{
	margin-left:52vw;
	color: black;
	font-size: 15px;
	text-decoration-line: none;
	font-family: 'Roboto Mono', monospace;
	margin-bottom: 100px;
	text-align: left;
}





